@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
	@apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #0b0c0f;
}

::-webkit-scrollbar-thumb {
	background-color: #222538;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #2b2f46;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #222538 rgba(255, 166, 0, 0.075);
}
